<!-- <html>

<head>
    <link href="/stylesheets/output.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/default-theme.css">
    <link rel="stylesheet" href="/stylesheets/common-theme.css">
</head>
<div class="containerr">
  
    <div class="recap-background">
        <div class="text-center">
            
            <h1 class="py-2  font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl">
                <span class="title-style">June Reads</span>
            </h1>
            <p class="attribute-text pt-8 pb-14 text-lg  font-bold">
             <img class="attr-icon inline" src="https://play-lh.googleusercontent.com/bOOrAMR_IOv0jyKJU2MstONEBGzAEQmEoNmaRPl-V4CY4uvFNmrI2aBoXmnhGxhsxdo">
             TSG : Kitabit | 
             <img class="attr-icon inline" src="https://d.gr-assets.com/misc/1454549160-1454549160_goodreads_misc.png">
            Goodreads: Kitabit
            </p>

        </div>
        <div class="container mx-auto">
        <div class="grid grid-cols-4 gap-y-14 place-items-center  py-50">       
            <% for(var i = 0; i < 12; i++) { %>
            <div class="book-container">
                <div>
                    <img class="book-cover mx-auto"
                        src="https://images.squarespace-cdn.com/content/v1/5fc7868e04dc9f2855c99940/d13d2ad3-bca7-4544-b7bf-71bf7af7b283/laura-barrett-illustration-moon-stars-book-cover-design.jpg">
                </div>
                <div class="place-content-center">
                    <p class="rating-text text-center ">4.25</p>
                    <div class="stars-image place-content-center ">
                        <img class="star-color" src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Five_Pointed_Star_Solid.svg">
                        <img class="star-color"  src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Five_Pointed_Star_Solid.svg">
                        <img class="star-color"  src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Five_Pointed_Star_Solid.svg">
                        <img class="star-color"  src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Five_Pointed_Star_Solid.svg">
                        <img class="star-color"  src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Five_Pointed_Star_Solid.svg">
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>
</div>

</html> -->


<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>Pure Css Grid</title>
    <link href="/stylesheets/style2.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/default-theme.css">
    <link rel="stylesheet" href="/stylesheets/common-theme.css">
  </head>
  <body>
    <main>
  <nav class="nav">
    <div class="navbar">
      <div class="logo-container">
        <a class="nav-link" href="#">
          <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
           <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 490 490" style="enable-background:new 0 0 490 490;" xml:space="preserve" class="logo" width="25px" height="25px">

		<path d="M0,167.85v216.2c0,33,26.8,59.8,59.8,59.8h370.4c33,0,59.8-26.8,59.8-59.8v-216.2c0-31.4-25.5-56.9-56.9-56.9h-79.6    l-1.9-8.3c-7.7-33.3-37-56.5-71.2-56.5h-70.9c-34.1,0-63.4,23.2-71.2,56.5l-1.9,8.3H56.9C25.5,110.95,0,136.55,0,167.85z     M146.2,135.45c5.7,0,10.6-3.9,11.9-9.5l4.1-17.8c5.2-22.1,24.6-37.5,47.3-37.5h70.9c22.7,0,42.1,15.4,47.3,37.5l4.1,17.8    c1.3,5.5,6.2,9.5,11.9,9.5H433c17.9,0,32.4,14.5,32.4,32.4v216.2c0,19.5-15.8,35.3-35.3,35.3H59.8c-19.5,0-35.3-15.8-35.3-35.3    v-216.2c0-17.9,14.5-32.4,32.4-32.4H146.2z"></path>
		<circle cx="82.9" cy="187.75" r="16.4"></circle>
		<path d="M245,380.95c56.7,0,102.9-46.2,102.9-102.9s-46.2-102.9-102.9-102.9s-102.9,46.1-102.9,102.9S188.3,380.95,245,380.95z     M245,199.65c43.2,0,78.4,35.2,78.4,78.4s-35.2,78.4-78.4,78.4s-78.4-35.2-78.4-78.4S201.8,199.65,245,199.65z"></path>

</svg>

        </a>
        <a class="nav-link" href="#">
          <h2 class="logo-text">Album</h2>
        </a>
      </div>
      <div class="menu-container">
        <a class="nav-link" href="#">
          <h2 class="menu-icon">&#8801;</h2>
        </a>
      </div>
    </div>
  </nav>
  <article>
    <div class="heading">
      <p class="heading-title">Album Example</p>
      <div class="heading-text">
        Something short and leading about
        the collection below—its <br/> contents,
        the creator, etc. Make it short and sweet,
        but not too short <br/> so folks don’t simply skip over it entirely.
      </div>
      <div>
        <select id="yearDropdown">
            <option value="">Select Year</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
        </select>
        <select id="monthDropdown">
            <option value="">Select Month</option>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <!-- Add other months as needed -->
        </select>
      </div>
      <div class="header-buttons">
        <button id="get_books" class="primary-button add-cursor">
          Get Books
        </button>
        <button id="get_storygraph" class="secondary-button add-cursor">
          Secondary action.
        </button>
        <div style="display: none;" id="storygraph_return_content"></div>
      </div>
    </div>
    
    <div class="container" >
        <h1 class="title">TITLE</h1>
        <h3 class="subtitle">subtitle</h3>
    <div class="cards" >
        <!-- <div class="card">
          <div class="thumbnail">
            <img src="">
          </div>
          <div class="caption-container">
          <div class="card-text">
            4.25 Stars
          </div>
          <div class="card-text">
            <div class="stars-image place-content-center ">
                <img class="star-color" src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Five_Pointed_Star_Solid.svg">
                <img class="star-color"  src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Five_Pointed_Star_Solid.svg">
                <img class="star-color"  src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Five_Pointed_Star_Solid.svg">
                <img class="star-color"  src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Five_Pointed_Star_Solid.svg">
                <img class="star-color"  src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Five_Pointed_Star_Solid.svg">
            </div>
          </div>
          </div>

        </div> -->
        
        <% for(var i=0; i < books_read.length; i++) { %>
            <% console.log("We Here"); %>
            <p>"HI"</p>
            <% console.log(books_read[i]); %>
        <div class="card">
            <div class="thumbnail">
              <!-- <p>Thumbnail</p> -->
              <img src="<%= books_read[i].cover %>">
            </div>
            <div class="caption-container">
            <div class="card-text">
                <%= books_read[i].rating %> Stars
            </div>
            <div class="card-text">
              <div class="stars-image place-content-center ">
                  <img class="star-color" src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Five_Pointed_Star_Solid.svg">
                  <img class="star-color"  src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Five_Pointed_Star_Solid.svg">
                  <img class="star-color"  src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Five_Pointed_Star_Solid.svg">
                  <img class="star-color"  src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Five_Pointed_Star_Solid.svg">
                  <img class="star-color"  src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Five_Pointed_Star_Solid.svg">
              </div>
            </div>
            </div>
  
          </div>
          <% } %>
<!-- 
        <div class="card">
          <div class="thumbnail">
            <p>Thumbnail</p>
          </div>
          <div class="card-text">
            This is a wider card
          </div>
          <div class="card-buttons">
            <div class="card-button-1 hover-effect add-cursor">
              View
            </div>
            <div class="card-button-2 hover-effect add-cursor">
              Edit
            </div>
            <p class="card-bottom-text">
              9 mins
            </p>
          </div>
        </div>
        <div class="card">
          <div class="thumbnail">
            <p>Thumbnail</p>
          </div>
          <div class="card-text">
            This is a wider card
          </div>
          <div class="card-buttons">
            <div class="card-button-1 hover-effect add-cursor">
              View
            </div>
            <div class="card-button-2 hover-effect add-cursor">
              Edit
            </div>
            <p class="card-bottom-text">
              9 mins
            </p>
          </div>
        </div>
        <div class="card">
          <div class="thumbnail">
            <p>Thumbnail</p>
          </div>
          <div class="card-text">
            This is a wider card
          </div>
          <div class="card-buttons">
            <div class="card-button-1 hover-effect add-cursor">
              View
            </div>
            <div class="card-button-2 hover-effect add-cursor">
              Edit
            </div>
            <p class="card-bottom-text">
              9 mins
            </p>
          </div>
        </div>
        <div class="card">
          <div class="thumbnail">
            <p>Thumbnail</p>
          </div>
          <div class="card-text">
            This is a wider card
          </div>
          <div class="card-buttons">
            <div class="card-button-1 hover-effect add-cursor">
              View
            </div>
            <div class="card-button-2 hover-effect add-cursor">
              Edit
            </div>
            <p class="card-bottom-text">
              9 mins
            </p>
          </div>
        </div>
        <div class="card">
          <div class="thumbnail">
            <p>Thumbnail</p>
          </div>
          <div class="card-text">
            This is a wider card
          </div>
          <div class="card-buttons">
            <div class="card-button-1 hover-effect add-cursor">
              View
            </div>
            <div class="card-button-2 hover-effect add-cursor">
              Edit
            </div>
            <p class="card-bottom-text">
              9 mins
            </p>
          </div>
        </div>
        <div class="card">
          <div class="thumbnail">
            <p>Thumbnail</p>
          </div>
          <div class="card-text">
            This is a wider card
          </div>
          <div class="card-buttons">
            <div class="card-button-1 hover-effect add-cursor">
              View
            </div>
            <div class="card-button-2 hover-effect add-cursor">
              Edit
            </div>
            <p class="card-bottom-text">
              9 mins
            </p>
          </div>
        </div>
        <div class="card">
          <div class="thumbnail">
            <p>Thumbnail</p>
          </div>
          <div class="card-text">
            This is a wider card
          </div>
          <div class="card-buttons">
            <div class="card-button-1 hover-effect add-cursor">
              View
            </div>
            <div class="card-button-2 hover-effect add-cursor">
              Edit
            </div>
            <p class="card-bottom-text">
              9 mins
            </p>
          </div>
        </div>
        <div class="card">
          <div class="thumbnail">
            <p>Thumbnail</p>
          </div>
          <div class="card-text">
            This is a wider card
          </div>
          <div class="card-buttons">
            <div class="card-button-1 hover-effect add-cursor">
              View
            </div>
            <div class="card-button-2 hover-effect add-cursor">
              Edit
            </div>
            <p class="card-bottom-text">
              9 mins
            </p>
          </div>
        </div> -->


        
    </div>
    </div>
  </article>
  <footer class="footer">
    <p>
      Album example is © Bootstrap, but please download and customize it for yourself!

      New to Bootstrap? <a class="footer-link" href="#">Visit the homepage</a> or read our <a class="footer-link" href="#">getting started guide</a>.
    </p>
    <a class="back-top footer-link" href="#">Back Top</a>
  </footer>
</main>
  </body>

  <script src="/javascripts/get_storygraph.js"></script>

</html>
