<div class="container" id="image_container">
    <h1 class="title title-style">Title</h1>
    <div class="subtitle">
      <div id="storygraphUsername">
      <img class="site-logo" src="/images/stars/storygraph.svg">
      <p ></p>
      </div>
      <div id="goodreadsUsername">
      <img class="site-logo" src="/images/stars/goodreads.svg">
      <p ></p>
      </div>
      
    </div>
          <div class="cards" id="books-list">
            <% if (books_read && books_read.length> 0) { %>
              <% for(var i=books_read.length - 1; i>= 0 ; i--) { %>
                <div class="card">
                  <div class="thumbnail">
                    <img class="cover_image" cross-origin="use-credentials" src="<%= books_read[i].cover %>">
                  </div>
                  <div class="book-rating">
                    <% if (books_read[i].rating !="" ) { %>
                        <%= books_read[i].rating %> Stars
                        <% if (books_read[i].rating !="" ) { %>

                            <% const rating_array=(books_read[i].rating).split(".") %>
                              <% for(var j=0; j <rating_array[0] ; j++) { %>
                                <img class="star-color" src="/images/stars/full-star.svg">
                                <% } %>
                                  <% if (rating_array[1]==25) { %>
                                    <img class="star-color" src="/images/stars/quarter-star.svg">
                                    <% } else if (rating_array[1]==5) { %>
                                      <img class="star-color" src="/images/stars/half-star.svg">
                                      <% } else if (rating_array[1]==75) { %>
                                        <img class="star-color" src="/images/stars/three-quarter-star.svg">
                                        <% } %>
                          <% } %>
                      <% }%>
                  </div>

                </div>
                <% } %>
                  <% } %>
          </div>


