
        <div class="section-header">
          <h3>Change Sizing</h3>
          <h6>Note: You may need to regenerate when you are happy with the layout</h6>
        </div>

        <div class="collapse-container">
          <section class="accordion">
            <input autocomplete="off" type="checkbox" name="collapse" id="handle1">
            <h3 class="handle">
              <label for="handle1">☰ Cover & Rating </label>
            </h3>
            <div class="content">
              <div class="styling-container">
                <div class="slidecontainer">
                  <label>Cover Size</label>
                  <input autocomplete="off" type="range" min="1" max="50" value="25" class="slider" id="coverSize">
                </div>
                <div class="slidecontainer">
                  <label>Star Size</label>
                  <input autocomplete="off" type="range" min="1" max="50" value="25" class="slider" id="myRange">
                </div>


                <div class="slidecontainer">
                  <label>Font Size</label>
                  <input autocomplete="off" type="range" min="1" max="50" value="25" class="slider" id="fontSize">
                </div>

                <div>
                  <div class="btn btn-primary tooltip"><label class="btn btn-primary tooltip">Font Color</label>
                    <div class="bottom">
                      <p>Color must be either in hex or RGB format</p>
                      <i></i>
                    </div>
                  </div>
                  <input autocomplete="off" type="text">
                </div>

              </div>


            </div>
          </section>

        </div>



        <div class="collapse-container">
          <section class="accordion">
            <input autocomplete="off" type="checkbox" name="collapse" id="handle2">
            <h3 class="handle">
              <label for="handle2">☰ Font Color & Style</label>
            </h3>
            <div class="content">
              <div class="styling-container">

                <div class="slidecontainer">
                  <label>Title Size</label>
                  <input autocomplete="off" type="range" min="1" max="50" value="25" class="slider" id="titleSize">
                </div>

                <div class="slidecontainer">
                  <label>Subtitle Size</label>
                  <input autocomplete="off" type="range" min="1" max="50" value="25" class="slider" id="subtitleSize">
                </div>
                <div>
                  <div class="btn btn-primary tooltip"><label class="btn btn-primary tooltip">Title Font Color</label>
                    <div class="bottom">
                      <p>Color must be either in hex or RGB format</p>
                      <i></i>
                    </div>
                  </div>
                  <div class="submit-field">
                  <input autocomplete="off" type="text"> <button>submit</button>
                </div>
                </div>
                <div>
                  <div class="btn btn-primary tooltip"><label class="btn btn-primary tooltip">Subtitle Font
                      Color</label>
                    <div class="bottom">
                      <p>Color must be either in hex or RGB format</p>
                      <i></i>
                    </div>
                  </div>
                  <div class="submit-field">
                  <input autocomplete="off" type="text"><button>submit</button>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>




        <div class="collapse-container">
          <section class="accordion">
            <input autocomplete="off" type="checkbox" name="collapse" id="handle3">
            <h3 class="handle">
              <label for="handle3">☰ Background Style</label>
            </h3>
            <div class="content">
              <div class="styling-container">
                <div>
                  <div class="btn btn-primary tooltip"><label class="btn btn-primary tooltip">Background Image</label>
                    <div class="bottom">
                      <p>Image must be a link</p>
                      <i></i>
                    </div>
                  </div>
                  <input autocomplete="off" type="url"><button>Apply</button>
                </div>

                <div>
                  <div class="btn btn-primary tooltip"><label class="btn btn-primary tooltip">Background Color</label>
                    <div class="bottom">
                      <p>Color must be either in hex or RGB format</p>
                      <i></i>
                    </div>
                  </div>
                  <input autocomplete="off" type="text">
                </div>
              </div>
            </div>
          </section>

        </div>





        <div class="collapse-container">
          <section class="accordion">
            <input autocomplete="off" type="checkbox" name="collapse" id="handle4">
            <h3 class="handle">
              <label for="handle4">☰ Layout</label>
            </h3>
            <div class="content">

              <div class="styling-container">
                <div class="slidecontainer">
                  <label>Row Gap</label>
                  <input autocomplete="off" type="range" min="1" max="50" value="25" class="slider" id="myRange">
                </div>

                <div class="slidecontainer">
                  <label>Column Gap</label>
                  <input autocomplete="off" type="range" min="1" max="50" value="25" class="slider" id="myRange">
                </div>

                <div class="slidecontainer">
                  <label>Outer Margin</label>
                  <input autocomplete="off" type="range" min="1" max="50" value="25" class="slider" id="myRange">
                </div>

                <div>
                  <div class="btn btn-primary tooltip"><label class="btn btn-primary tooltip">Column Number</label>
                    <div class="bottom">
                      <p>Color must be either in hex or RGB format</p>
                      <i></i>
                    </div>
                  </div>
                  <input autocomplete="off" type="text" id="columnNumber">
                </div>

              </div>


            </div>
          </section>

        </div>


        <div class="collapse-container">
          <section class="accordion">
            <input autocomplete="off" type="checkbox" name="collapse" id="handle5">
            <h3 class="handle">
              <label for="handle5">☰ Info</label>
            </h3>
            <div class="content">

              <div class="styling-container">
            

                <div>
                  <div class="btn btn-primary tooltip"><label class="btn btn-primary tooltip">StoryGraph</label>
                    <div class="bottom">
                      <p>Color must be either in hex or RGB format</p>
                      <i></i>
                    </div>
                  </div>
                  <input autocomplete="off" type="checkbox" id="storygraphUID">
                  <input autocomplete="off" type="text" id="isStorygraphID">
                </div>

                <div>
                  <div class="btn btn-primary tooltip"><label class="btn btn-primary tooltip">GoodReads</label>
                    <div class="bottom">
                      <p>Color must be either in hex or RGB format</p>
                      <i></i>
                    </div>
                  </div>
                  <input autocomplete="off" type="checkbox" id="goodreadsUID">
                  <input autocomplete="off" type="text" id="isGoodreadsID">
                </div>

              </div>


            </div>
          </section>

        </div>

