
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>Pure Css Grid</title>
    <link href="/stylesheets/style2.css" rel="stylesheet" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/default-theme.css">
    <link rel="stylesheet" href="/stylesheets/common-theme.css">
    
  </head>