/* ===================================================== */
/* Cards */



.cards {
    /* background-color: #f8f9fa; */
    /* padding: 48px 0 48px 0;
    margin: 40px 0 0 0; */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: -ms-grid;
    display: grid;
    /* aspect-ratio: 4 / 5;  */
    /* -ms-grid-columns: (208px)[3]; */
    /* grid-template-columns: repeat(3, 208px); */
    grid-template-columns: repeat(4, minmax(1rem, 5fr));
    grid-auto-rows: auto;
    /* grid-gap: 1rem; */
    grid-gap: 25px;
    max-height: calc(90vw * 1.25);
    justify-content: space-evenly;
    /* justify-items: center; */
    /* align-content: space-evenly; */
    /* align-items: center; */
}


.book-container {
    /* border: solid; */
    padding: 5px;
    position: relative;
}


.card {
    /* background-color: antiquewhite;
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;  */
    width: auto;
    /* height: fit-content; */
    max-height: 80%;
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;

}



/* ===================================================== */
/* Images */



/* .card img {
    flex: 1 0.75 75%;
    margin-left: auto;
    margin-right: auto;
    min-width: 0;
    min-height: 0
} */

.thumbnail {
    flex: 1 1 33.333%;
    min-width: 0;
    min-height: 0
}

.thumbnail img {
    height: auto;
    min-width: 0;
    min-height: 0
}

.book-cover {
    width: 175px;
    height: 262px;
    display: block;
    /* margin:auto; */
    margin-bottom: 5px;
    box-shadow: 15px 12px 2px 1px rgba(0, 0, 255, .2);
}


/* Rating */
/* ===================================================== */

.caption-container {
    margin: 3px;
    max-height: inherit;
}

.card-text {
    padding: 0px;
    /* font-size: 18px;  */
    text-align: center;
    /* font-size: calc(1vw + 1vh + 1vmin); */
    font-size: 90%;
    max-height: inherit;
    /* max-width: 75%; */
    margin-left: auto;
    margin-right: auto;
}



.book-rating {
    max-height: inherit;
    padding: 0px;
    /* font-size: 18px;  */
    text-align: center;
    /* font-size: calc(1vw + 1vh + 1vmin); */
    font-size: 90%;
    max-height: inherit;
    /* max-width: 75%; */
    margin-left: auto;
    flex: 1 0.75 75%;
    min-width: 0;
    min-height: 0;

    margin-right: auto;
}

.book-rating img {
    height: 1em;
}

.rating-text {
    /* display: none; */
    font-size: 25px;
    margin-bottom: -4px;
    margin-top: -4px;
    /* text-align: center; */
    color: black;
    font-weight: bold;
}

.stars-image {
    /* justify-content: center;
    margin: auto; */
}

.stars-image img {
    /* Star Spacing */
    margin: 0px;
    /* Star Size */
    height: 20%;
    width: 20%;
    max-height: inherit;
    max-width: inherit;

}

.star-color {
    /* I recommend using this codePen to convert a hex code to a filter color:
      https://codepen.io/sosuke/pen/Pjoqqp
    */
    filter: invert(65%) sepia(72%) saturate(657%) hue-rotate(5deg) brightness(111%) contrast(107%);
    max-height: inherit;
    height: 1em;


}