@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
/* * {
    box-sizing: border-box;
  }
  
  html,body {
    margin: 0;  
  } */
  

  

  /* change the color or image of the background
    Note: Background image must be of the same ratio or it will be cut off:
      1080px by 1080px , 1:1 (Square)
      1080px by 1350px , 16:9 (Portrait)
  */
  .recap-background {
    background: slategray;
    background-image: url("https://images.unsplash.com/photo-1549213821-4708d624e1d1?fm=jpg&w=3000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8MTYlM0E5fGVufDB8fDB8fHww");
  }
  

  
  .book-container {
    /* border: solid; */
    padding: 5px;
      position: relative;
  }
      

  
  
  .rating-text {
    /* display: none; */
    font-size: 25px;
    margin-bottom: -4px;
    margin-top: -4px;
    /* text-align: center; */
    color:  black;
    font-weight: bold;
  }

  .book-cover {
    width: 175px;
    height: 262px; 
    display:block;
    /* margin:auto; */
    margin-bottom: 5px;
    box-shadow: 15px 12px 2px 1px rgba(0, 0, 255, .2);

  }

  
  .stars-image img {
    /* Star Spacing */
    margin: 0px;
    /* Star Size */
    height: 20%; 
    width: 20%;
  }

  .star-color {
    /* I recommend using this codePen to convert a hex code to a filter color:
      https://codepen.io/sosuke/pen/Pjoqqp
    */
    filter: invert(65%) sepia(72%) saturate(657%) hue-rotate(5deg) brightness(111%) contrast(107%);

  }

  .title-style {
    font-size: 140px;
    font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
    background: -webkit-linear-gradient(#e2a0a0, #349eac);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


  .attribute-text
  {
     /* display: none; */ /*uncomment this to hide the attribute*/
     color: white;
     font-size: 24px;
  }
 