
  input[type="checkbox"].asButton 
{
  display: none;
}

input[type="checkbox"].asButton + label  
{
  display: block;
  position: relative;
  background-color: lightgray;
  /*label styling*/
  margin: 2px auto;
  width: 90%;
  /* border: 1px dotted red; */
  padding: 3px 3px;
  /* line-height: 40px; */
  color: darkgray;
  vertical-align: baseline;
  text-align: center;
  white-space: nowrap;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

input[type="checkbox"].asButton:checked + label
{
  background-color: rgb(70, 141, 195);
  color: white;
}




input[type="checkbox"].asButton:disabled + label 
{
  opacity: 0.5;
}


.month-buttons-row {
  text-align: center;
  margin-top: 12px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(6, minmax(1rem, 5fr));
  grid-template-columns:repeat(6, minmax(1rem, 5fr));
  justify-content: center;
  grid-gap: 5px;
}